/* Basic Style */
body{
    background-color: :linen(250, 252, 253);
    
    max-width: 800%;
    position: relative;
    z-index: -1;
}
  .container {
    background-color:linen(247, 241, 241);
    
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    margin-right: 20px;
    margin-left: 15px;

  }
  h1{
    color: blue;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 20px;
  }
  .edit{
    display: flex;
    text-align: right;
    cursor: pointer;

  }
  .fa-check{
    color: white;
    background-color: blue;

  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  
 .task button {
    background:none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  #add_task{
    color: #3C2352;
    background-color: blue;
    height: 38px;
    width: 77px;
    margin-left: -2px;
    
  }
  button:hover {
    color: #333;
  }
  /* Heading */
  input[type="text"] {
    
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
    padding-left: 30px;
  }
  #new_task{
    height: 40px;
     width: 0rem;

  }
  .place{
    margin-left: 60px;
  }
  #incomplete-tasks{
    margin-left: 70px;
  }
  #completed_tasks{
    margin-left: 70px;
  }
  
  input#new_task {
    float: left;
    width: 900px;
    
  }
  .select{
    text-align: right;
    padding-top: 2em;
    padding-right: 10em;
    border-color: grey;
    padding-bottom: 5em;

}
input[type="date"]{
    border-color: rgb(230, 154, 13);
    border-top-color:rgb(230, 154, 13);
    padding: .2em;
    display: flex;
    position: relative;
}
  
#date{
    display: flex;
    position: absolute;
    padding-left: 53em;
    width: 50%;
    flex-direction: row;
    padding-bottom: 60px;
    }
    .edit {
        text-align: right;
        color: black;
        background-color: red;
        justify-content: space-between;
        margin-top: 15px;
    
}

  
      .delete {
        text-align: right;
        color: black;
        background-color: blue;
        justify-content: space-between;
        margin-top: 15px;

      }
      
      .edit:hover {
        background-color: lightcoral;
        color: white;
      }
      .delete:hover {
        background-color: lightcoral;
        color: white;
      }
    
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 18px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 13px;
    position: relative;
    top: 17px;
  }
  li > label {
    font-size: 18px;
    line-height: 50px;
    width: 237px;
    padding: 0 0 0 11px;
  }

  
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: lightseagreen;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }