body{
    background-color: :linen(250, 252, 253);
    height: 650px;
    max-width: 800%;
    position: relative;
    z-index: -1;
}
h1{
    padding-top: 1em;
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}
.tight {
    background-color:linen(247, 241, 241);
    height: 550px;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    margin-right: 20px;
    margin-left: 15px;
}
.fa-check{
    color:white;
    background-color: blue;

}
place{
    text-align: center;
}
input[type="text"]{
    width: 70%;
    display: relative;
    padding: .7em;

    
}
button{
    background-color: blue;
    color: white;
    padding: .8em;
    border-radius: 1em;
    border: none;
}
.select{
    text-align: right;
    padding-top: 2em;
    padding-right: 10em;
    border-color: grey;
    padding-bottom: 5em;

}
#check-box{
    font-size: larger;
    padding-left: 10em;
    padding-top: 15em;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="date"]{
    border-color: rgb(230, 154, 13);
    border-top-color:rgb(230, 154, 13);
    padding: .2em;
    display: flex;
    position: relative;
}
.list{
    padding-left: 3em;
}
#date{
    display: flex;
    position: absolute;
    padding-left: 58em;
    width: 50%;
    flex-direction: row;
    }
    .Add{

        padding-left: 30px;
       margin-left: 30px;
    }
    .label{
        padding-left: 20px;


    }
    